In [28]:
import numpy as np 
import pandas as pd 

v1=np.array([1,3,6,np.nan,7,1,np.nan,9,15])
v2=np.array([7,np.nan,5,8,12,np.nan,np.nan,2,3])

v3=np.array([np.nan,10,11,8,np.nan,9,14,30,45])
             
df=pd.DataFrame({"v1":v1,"v2":v2,"v3":v3})
df

     v1    v2    v3
0   1.0   7.0   NaN
1   3.0   NaN  10.0
2   6.0   5.0  11.0
3   NaN   8.0   8.0
4   7.0  12.0   NaN
5   1.0   NaN   9.0
6   NaN   NaN  14.0
7   9.0   2.0  30.0
8  15.0   3.0  45.0

In [29]:
df.isnull().sum()# eskik değer sayisi veri

v1    2
v2    3
v3    2
dtype: int64

In [30]:
df.notnull().sum()# değerleri

v1    7
v2    6
v3    7
dtype: int64

In [31]:
df.isnull().sum().sum()# toplam eksik değer

7

In [32]:
df.isnull()#eksiklik varmı

      v1     v2     v3
0  False  False   True
1  False   True  False
2  False  False  False
3   True  False  False
4  False  False   True
5  False   True  False
6   True   True  False
7  False  False  False
8  False  False  False

In [33]:
df[df.isnull().any(axis=1)]# eksik değer varsa 1 eksik değer

    v1    v2    v3
0  1.0   7.0   NaN
1  3.0   NaN  10.0
3  NaN   8.0   8.0
4  7.0  12.0   NaN
5  1.0   NaN   9.0
6  NaN   NaN  14.0

In [34]:
df[df.notnull().all(axis=1)]# hepsi dolu olan

     v1   v2    v3
2   6.0  5.0  11.0
7   9.0  2.0  30.0
8  15.0  3.0  45.0

In [35]:
df[df["v1"].notnull()& df["v2"].notnull()& df["v3"].notnull()]

     v1   v2    v3
2   6.0  5.0  11.0
7   9.0  2.0  30.0
8  15.0  3.0  45.0

In [36]:
#eksik değerlen direk silinmesi

In [37]:
df.dropna(inplace=True)# tam değerlere ulaşstık

In [38]:
df

     v1   v2    v3
2   6.0  5.0  11.0
7   9.0  2.0  30.0
8  15.0  3.0  45.0

In [39]:
#basit deger atamam

In [40]:
df["v1"]

2     6.0
7     9.0
8    15.0
Name: v1, dtype: float64

In [41]:
df["v1"].mean()

10.0

In [42]:
df["v1"].fillna(0)

2     6.0
7     9.0
8    15.0
Name: v1, dtype: float64

In [43]:
df["v2"].fillna(0)

2    5.0
7    2.0
8    3.0
Name: v2, dtype: float64

In [44]:
df.apply(lambda x:x.fillna(x.mean()),axis=0)

     v1   v2    v3
2   6.0  5.0  11.0
7   9.0  2.0  30.0
8  15.0  3.0  45.0