In [1]:
import numpy as np 
import pandas as pd 

v1=np.array([1,3,6,np.nan,7,1,np.nan,9,15])


v4=np.array(["IT",np.nan,"IT","IT","IT","IK","IK","IK","IK"],dtype=object)            
df=pd.DataFrame({"maas":v1,"departman":v4})
df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IT
3   NaN        IT
4   7.0        IT
5   1.0        IK
6   NaN        IK
7   9.0        IK
8  15.0        IK

In [3]:
df["departman"].mode()[0]

'IK'

In [4]:
df["departman"].fillna(df["departman"].mode()[0])

0    IT
1    IK
2    IT
3    IT
4    IT
5    IK
6    IK
7    IK
8    IK
Name: departman, dtype: object

In [5]:
df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IT
3   NaN        IT
4   7.0        IT
5   1.0        IK
6   NaN        IK
7   9.0        IK
8  15.0        IK

In [6]:
df["departman"].fillna(method="bfill")#bir sonraki deper ile dÄ±ndurma

0    IT
1    IT
2    IT
3    IT
4    IT
5    IK
6    IK
7    IK
8    IK
Name: departman, dtype: object

In [7]:
df["departman"].fillna(method="ffill")

0    IT
1    IT
2    IT
3    IT
4    IT
5    IK
6    IK
7    IK
8    IK
Name: departman, dtype: object